@import "tailwindcss";

@font-face {
  font-family: "BaskinRobbins";
  src: url("/fonts/BaskinRobbinsBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #0f0f0f;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-white: #ffffff;

  --color-red: #ff483d;
  --color-blue: #29c9f9;
  --color-purple: #a77eff;
  --color-pink: #ff2a6a;
  --color-main: #ffff04;
}

.font-brand {
  font-family: "BaskinRobbins", "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-brand {
  font-family: "BaskinRobbins", "Noto Sans KR", sans-serif;
}

@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 744px;
  --breakpoint-desktop: 1200px;
}
